<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="etozhestkapec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <etozhestkapec.Properties.Settings>
            <setting name="helthprokachka" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="speedprokachka" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kamniprokachka" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ochki" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aktualnoeznachenie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="staroeznachenie" serializeAs="String">
                <value>0</value>
            </setting>
        </etozhestkapec.Properties.Settings>
    </userSettings>
</configuration>